:root{

    --primary:#2563EB;
    --secondary:#1E293B;

    --background:#F5F7FA;

    --white:#FFFFFF;

    --success:#22C55E;

    --text:#111827;

    --border:#E5E7EB;

    --shadow:0 2px 10px rgba(0,0,0,.08);

}